# 모든 파일을 무시 (기본 설정)
*

# .github, README.md, src 디렉터리만 예외처리
!.github/
!.github/**
!README.md
!src/
!src/**
!.gitignore

# .gradle 관련 파일과 디렉터리 명시적으로 무시
.gradle/
*.gradle
gradlew
gradlew.bat

# IDE 관련 파일과 디렉터리 무시
.idea/
*.iml

# 빌드 결과물 무시
build/